*.zip
.vs
.vscode
.DS_Store
.idea
__pycache__/
.pyc
.ipynb_checkpoints
data/app_events.csv
data/app_labels.csv
data/events.csv
data/gender_age_train.csv
data/label_categories.csv
data/phone_brand_device_model.csv
data/phone_model_device.csv
